* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #889E4F;
}

.container {
    width: 400px;
    height: 680px;
    margin: 100px auto;
    border-radius: 40px;
    overflow: hidden;
    border: none;
    box-shadow: 0px 10px 30px rgba(10, 30, 10, 0.3);
}

.currencyFrom1,
.currencyFrom2,
#inputValue-valor {
    width: 100%;
    margin-bottom: 10px;
    height: 35px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    appearance: none;
    padding-left: 5px;
    outline: none;
    border-radius: 8px;
    border: none;
    color: #2C6E49;
    background-color: #f0f0f0;

}

.container-section {
    height: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    background-color: #2C6E49;
    width: 100%;
    padding: 0 30px 20px 30px;
}


.div-main {
    height: 50%;
    background-color: #dddda5;
    padding: 20px 30px 0 30px;
}

.currencyName1,
.currencyName2 {
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
    color: #e2e2e2;

}

.amount1,
.amount2 {
    transform: scale(1.5);
    font-weight: bold;
    color: white;
}

img {
    width: 100px;
}

.label-main {
    font-size: 25px;
    font-weight: 400;
    color: #787878;
    ;
}

button {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 17px;
    border: none;
    margin: 10px auto;
    font-size: 28px;
    font-weight: 500;
    background-color: #1b4332;
    color: white;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

button:active {
    opacity: 0.4;
}

.div-section {
    display: flex;
    flex-direction: column;
    align-items: center;

}