* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #889E4F;
}

.container {
    width: 400px;
    height: 680px;
    margin: 100px auto;
    border-radius: 40px;
    overflow: hidden;
    border: none;
    box-shadow: 0px 10px 30px rgba(10, 30, 10, 0.3);
}

.currencyFrom1,
.currencyFrom2,
#inputValue-valor {
    width: 100%;
    margin-bottom: 10px;
    height: 35px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    appearance: none;
    padding-left: 5px;
    outline: none;
    border-radius: 8px;
    border: none;
    color: #2C6E49;
    background-color: #f0f0f0;
    transition: all 0.3s ease;

}

.currencyFrom1:hover {
    opacity: 0.7;
    transform: translateY(-3px);
}

.currencyFrom2:hover {
    opacity: 0.7;
    transform: translateY(-3px);
}

#inputValue-valor:hover {
    opacity: 0.7;
    transform: translateY(-3px);
}

.currencyFrom1:active {
    opacity: 0.9;
    transform: scale(0.99);
}

.currencyFrom2:active {
    opacity: 0.9;
    transform: scale(0.99);
}

#inputValue-valor:active {
    opacity: 0.9;
    transform: scale(0.99);
}   
    


.container-section {
    height: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    background-color: #2C6E49;
    width: 100%;
    padding: 0 30px 20px 30px;
}


.div-main {
    height: 50%;
    background-color: #dddda5;
    padding: 20px 30px 0 30px;
}

.currencyName1,
.currencyName2 {
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
    color: #e2e2e2;

}

.amount1,
.amount2 {
    transform: scale(1.5);
    font-weight: bold;
    color: white;
}

img {
    width: 100px;
}

.label-main {
    font-size: 25px;
    font-weight: 400;
    color: #787878;
    ;
}

button {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 17px;
    border: none;
    margin: 10px auto;
    font-size: 28px;
    font-weight: 500;
    background-color: #1b4332;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;

}

button:hover {
    opacity: 0.7;
    transform: translateY(-3px);
}

button:active {
    opacity: 0.9;
    transform: scale(0.95);
}

.div-section {
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media (max-width: 420px) {

    body{

        background-color: white;
    }

    .container {
        min-width: 100vw;
        min-height: 100vh;
        margin: 0 0;
        border-radius: 0;
    }

    .container-section {
        flex-direction: column;
        gap: 40px;
        padding: 0;
      
       
    }

    .div-main {
       
        padding: 10px 30px 0 30px;
    }

    .currencyFrom1,
    .currencyFrom2,
    #inputValue-valor {
        margin-bottom: 16px;
        height: 50px;
        font-size: 16px;
    }

    button {
        height: 50px;
        font-size: 28px;
    }

    .currencyName1,
    .currencyName2 {
        line-height: 19px;
        font-size: 12px;
    }

    .amount1,
    .amount2 {
        font-size: 18px;
    }

    img {
    width: 80px;
}
}